@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

p{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  border-left: 10px;
  border-left-color: #E8CA66;
  border-left-style: solid;

}

.vMas{
  color: #9E0051;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding-left: 90px;
  border-left: 0px;


}
