@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@media only screen and (min-width: 1024px) {
  .banerFondo {
    position: relative;
    z-index: 10;
    background-image: url(https://ingenium.edu.pe/wp-content/uploads/2019/10/planificaci%C3%B3n-de-proyectos-768x512.jpg);
    background-size: 100vw;
    background-position: center 40%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vw;
    width: 100%;
  }
  .banerFondo:before {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
  }
  .banerFondo::before {
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  .banerFondo p {
    color: #fff;
    position: relative
  }
  .img-response{
    max-width: 100px;
    position: relative;
  }
  .pTitulo{
    font-size: clamp(1.9rem, 0.8333rem + 4.7407vw, 3.5rem);
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 900;
    margin-top: 3vw;
    margin-bottom: 2vw;
    line-height: 56px;
  }
  .pCuerpo{
    font-size: clamp(1rem, 0.8667rem + 0.5926vw, 1.2rem);
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 500;
    position: relative;
  }
  .alto {
    height: 25vw;
  }
  #banContent,#banContent>div{
    height: 100%;
  }
  #center{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

}
@media only screen and (min-width: 320px) and (max-width: 800px) {
.banerFondo {
    position: relative;
    z-index: 10;
    background-size: 100vw;
    background-position: center 40%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
}
.img-response{
  max-width: 100px;
  position: relative;
}
.pTitulo{
  line-height: 40px;
  font-size: clamp(1.9rem, 0.8333rem + 4.7407vw, 3.5rem);
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 900;
  margin-top: 30px;
  position: relative;
}
.alto {
      height: 40vh;
}

.pCuerpo{
  font-size: clamp(1rem, 0.8667rem + 0.5926vw, 1.2rem);
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 500;
  position: relative;
}
#mobile{
  padding-top: 5vw;
}
.banerFondo:before {
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
}
.banerFondo::before {
  content: "";
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
}
