<div *ngIf="blog">
  <div class="banerFondo" [ngStyle]="{
    'background-image':'url('+ blog.imgBlogURL +')'
  }">
    <div class="alto">
      <div  id="banContent" class="container-fluit" style="margin-left: 0%;">
        <div id="center" class="container">
          <div class="row">
            <div class="col-12 col-xl-9">
              <p class="pTitulo">{{ blog.titulo}}</p>
            </div>
          </div>
          <div class="row" id="mobile">
            <div class="col-3 col-sm-2 col-md-3 col-lg-2" style="width: auto;">
              <img src="{{ blog.autorImgURL }}" class="img-response" alt="">
            </div>
            <div class="col-7 col-lg-7 mt-3">
              <p class="pCuerpo" style="color: #E8CA66;margin-bottom: 0;margin-top: 1.1em;">{{ blog.autorGrado}} {{ blog.autorName}} </p>
              <p class="pCuerpo">{{ blog.autorCargo }} </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
