<div >
  <div class="card mb-3" >
    <div style="display: flex; justify-content: center;padding-top: 15px;
    ">
      <img width="36px" height="29px" src="./assets/img/suscribete.png" alt="...">
    </div>
    <div class="card-body">
      <h2 class="cards-title textSub text-center">SUSCRÍBETE</h2>
      <p class="card-text text-center" style="margin-bottom: 0px;">¿TE GUSTÓ NUESTRO CONTENIDO?</p>
      <p class="card-text text-center">Te enviamos uno por semana</p>
      <form>
        <div class="mb-3">
          <input type="text" class="form-control" id="nameSub" placeholder="Nombres y apellidos" #nameSub>
        </div>
        <div class="mb-3">
          <input type="email" class="form-control" placeholder="Escribe tu email" id="emailSub" #emailSub>
        </div>
        <div class="d-grid">
          <button type="button" class="btn btnSub" (click)="sendSub(nameSub.value,emailSub.value)" >Apuntarme</button>
        </div>
        <p class="terCon mt-2">
          <input type="checkbox" id="cbox1" value="first_checkbox" style="margin-right: 5px;">He leído y acepto los <a style="color: #9E0051;" href="www.ingenium.edu.pe">términos del servicio</a> y la <a
            style="color: #9E0051;" href="www.ingenium.edu.pe">política de privacidad.</a>
        </p>
      </form>
    </div>
  </div>
</div>

<!-- <div class="card mb-3" style="width: 20rem;">
    <img width="36px" height="29px" src="../../../assets/img/suscribete.png"  alt="...">
  <div class="card-body">


  <h2 class="cards-title textSub text-center">SUSCRÍBETE</h2>
    <p class="card-text text-center" style="margin-bottom: 0px;">¿TE GUSTÓ NUESTRO CONTENIDO?</p>
    <p class="card-text text-center">Te enviamos uno por semana</p>
    <form>
      <div class="mb-3">
        <input type="text" class="form-control" id="nameSub" placeholder="Nombres y apellidos">
      </div>
      <div class="mb-3">
        <input type="email" class="form-control" placeholder="Escribe tu email" id="emailSub">
      </div>
      <div class="d-grid">
      <button type="button"  class="btn btnSub" onclick="sendSuscri(name.value, emailSub.value)">Apuntarme</button>
      </div>
      <p class="terCon mt-2">
        He leído y acepto los <a style="color: #9E0051;" href="www.ingenium.edu.pe">términos del servicio</a> y la <a style="color: #9E0051;" href="www.ingenium.edu.pe">política de privacidad.</a>
      </p>
    </form>


  </div>
</div> -->
