@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.btnSub{
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #9E0051;
  color: white;
}
.terCon{
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.textSub{
  font-size: 26px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.btnSub{
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #9E0051;
  color: white;
}
.terCon{
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.textSub{
  font-size: 26px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
} */
