<div *ngIf="blogs.length > 0" class="mb-5">
  <div class="row row-cols-1 row-cols-md-4 g-3 mt-3  rounder animate__animated animate__fadeIn">
    <div *ngFor="let blog of blogs">
      <div class="col" style="height: 100%;">
        <div class="card me-4" (click)="onDetalleBlog(blog)" style="height:100%; box-shadow: 3px 3px 5px 1px rgb(122 122 122 / 20%);">
          <img src="{{ blog.imgBlogURL}}" class="card-img-top" alt="..." width="100%" height="60%" >
          <div class="card-body">

            <h5 class="card-title text-capitalize text-center">{{ blog .titulo }}</h5>

            <div class="blogText mb-4">{{ blog.resumen | slice :0:100 }}...</div>
            <div class="mb-3" style="display: flex; justify-content: space-between;">
              <div style="display: flex; align-items: center;">
                <img src="./assets/img/calendario.png" width="14px" height="14px" alt="" >
                <span style="padding-left: 10px;">{{ blog.fecha | date:'dd/MM/yyyy'  }}</span>
              </div>
              <div style="display: flex; align-items: center;">
                <img  src="./assets/img/me-gusta-2.png" width="14px" height="14px" >
                <span style="padding: 0 10px 0 5px;">{{ blog.numeroLike}}</span>

                <img  style="position: relative;top: 2px;" src="./assets/img/comentarios-2.png" width="14px" height="14px" alt="" >
                <span style="padding-left: 7px;">{{ blog.numComen}}</span>
              </div>
            </div>
            <div class="d-grid">
              <a  class="btn text-white text-capitalize"  style="background-color: #9E0051;">Ver mas..</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

