  <div class="container mt-3">
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Registro de Programas</h5>

          <form class="d-grid">
            <div class="mb-3 ">
              <label for="exampleInputEmail1" class="form-label">Area:</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nombre del Docente: </label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Url imagen del Programa: </label>
              <input type="url" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Fecha Inicio: </label>
              <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Contenido </label>
              <textarea class="form-control" aria-label="With textarea"></textarea>
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>

            <button type="submit" class="btn btn-outline-success">Submit</button>
          </form>
      </div>
    </div>

  </div>

