<div *ngIf="topBlogs" id="width100">
  <div *ngFor="let blog of topBlogs">
    <div class="card mb-3 me-5 animate__animated animate__rotateInUpRight" style="width: 20rem;" id="solve">
      <div style="overflow: hidden;">
        <img (click)="detalleBlog(blog)" width="100%" src="{{ blog.imgBlogURL}}" class="imgCard " alt="...">
      </div>
      <div class="card-body"  >
        <div type="button">
           <span (click)="onCategoryBlog(blog)" class="badge bg-secondary bg-info">#{{ blog.categoria}}</span>
        </div>

        <h5 type="button" class="card-title">{{ blog.titulo }}</h5>
        <p class="card-text d-flex justify-content-around">{{ blog.resumen | slice :0:80}}</p>

        <div class="foBCar" style="display: flex; align-items: center; justify-content: space-between;">
          <div>
            <img   src="./assets/img/me-gusta-1.png"
            style="vertical-align: baseline; width: 14px;height: 12px;margin-right: 5px;">{{ blog.numeroLike}}
            <img  src="./assets/img/comentarios-1.png"
            style="vertical-align: baseline; width: 14px;height: 12px;margin-right: 5px;">{{blog.numComen}}
          </div>

          <div>
            <a style="position: relative; right: 0;" class="text-info" href="">LEER MAS</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div *ngIf="topBlogs">
  <div *ngFor="let blog of topBlogs">
    <div class="card mb-3 me-5" style="width: 20rem;">
      <img src="{{ blog.imgBlogURL}}" class="imgCard " alt="...">
      <div class="card-body">
        <span class="badge bg-info mb-2">#{{ blog.categoria }}</span>
        <h5 class="card-title">{{ blog.titulo }}</h5>
        <p class="card-text d-flex justify-content-around">{{ blog.resumen | slice :0:80}}</p>
        <p class="foBCar"><img  class="" src="../../../assets/img/me-gusta-1.png"
            style="width: 14px;height: 12px;;margin-right: 5px;">{{ blog.numeroLike}}
          <img class="" src="../../../assets/img/comentarios-1.png" style="width: 14px;height: 12px;">{{blog.numComen}} <a
            style="margin-left: 80px;" class="text-info" href="">LEER MAS</a>
        </p>
      </div>
    </div>
  </div>
</div>-->
