@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');

p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h5{
  font-family: 'Roboto', sans-serif ;
  font-size: 23px;
  font-weight: 900;
}
.foBCar{
  font-size: 14px;
  margin-bottom: 0px;
}


.imgCard{
  transition: all 1s;
}

.imgCard:hover {
  transform: scale(1.15);
}
.imgPro{
  width: 15px;
  height: 15px;
}
@media only screen and (min-width: 320px) and (max-width: 800px) {
#width100{
  width: 100vw;
}
#solve{
  width: 100vw !important;
  /* padding:0 36px !important; */
  padding: 0 10px;
}

}

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');

p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    justify-content: center;
}

h5{
  font-family: 'Roboto', sans-serif ;
  font-size: 23px;
  font-weight: 900;
}
.foBCar{
  font-size: 14px;
  margin-bottom: 0px;
}

.imgCard{
  transition: all 1s;
}

.imgCard:hover .imgCard{
  transform: scale(1.15);

}
.imgPro{
  width: 15px;
  height: 15px;;
} */
