<div class="container bg-white" style="padding: 0 6vw;margin-bottom:2em;">
  <div class="contact" >
    <a href="" style="margin-bottom: 10px;">
      <img width="38px" height="38px" src="./assets/img/facebook.png" alt="">
    </a>
    <a href="" style="margin-bottom: 10px;">
      <img width="38px" height="38px" src="./assets/img/whatsapp.png" alt="">
    </a>
    <a href="" style="margin-bottom: 10px;">
      <img width="38px" height="38px" src="./assets/img/linkedin.png" alt="">
    </a>
  </div>

  <div class=" pb-4">
    <div class="detailsSum"  >

      <div style="margin-right: 10px;">
        <img src="./assets/img/calendario.png" width="14px" height="14px" alt="">
        <span>{{ blog.fecha | date: 'dd/MM/yyyy' }}</span>
      </div>

      <div style="margin-right: 10px;">
        <a style="color:#9E0051 ;" class="  justify-content-end">
          <img src="./assets/img/Etiqueta-1.png"
            width="14px" height="14px" alt="">
          <span>
            {{ blog.categoria }}
          </span>
        </a>
      </div>

      <div >
        <img src="./assets/img/me-gusta-1.png" width="14px" height="14px" alt="">
        <span>{{ blog.numeroLike}} </span>
        <img class="mb-0" src="./assets/img/comentarios-1.png" width="14px" height="14px" alt="">
        <span>{{ blog.numComen}}</span>
      </div>
    </div>
  </div>

  <div  class="editor">
    <div class="one" #one></div>
  </div>

  <div class="div">
      <div class="container-iLike">
        <button  class="btn btn-primary mt-3 btn-ilike"><i class="fas fa-thumbs-up" style="font-size: 23px;margin-right: 2px;"></i>Me Gusta </button>
      </div>
      <hr>
      <p class="mt-4">
        <span class="badge text-white me-2" style="background-color: #54B6BB;padding: 7px;">#programa</span>
        <span class="badge text-white me-2" style="background-color: #54B6BB;padding: 7px;">#programa</span>
       </p>
       <div class="comentarys">
        <span style="padding-right:7px;"><img src="./assets/img/comentarios-1.png" width="14px" height="14px" alt="" class="mb-0"> <span style="padding-left:7px;">{{ blog.numComen}}</span> comentarios</span>
       </div>
  </div>

  <div class="container pb-3 rounded comentary" style="background-color: #E6E6E6;padding: 1.5em;">
    <p class="pt-3">Escribe aquí tu comentario.</p>
    <div class="mb-3">
      <!-- <label for="exampleInputEmail1" class="form-label">Contenido </label> -->
      <textarea class="form-control" aria-label="With textarea" style="resize: none;height: 180px;"></textarea>
      <button class="btn mt-5" style="background-color: #5E5E5E;color: white;">Envíar</button>
    </div>
  </div>

  <div class="contact-media" >
    <div class="texto-media">
      <h2 style="color: #6B6568;font-size: 21px;margin-top:0.5em;">COMPARTE ESTE BLOG</h2>
    </div>
    <div class="icons-media">
      <a href="" style="margin-bottom: 10px;">
        <img width="38px" height="38px" src="./assets/img/facebook.png" alt="">
      </a>
      <a href="" style="margin-bottom: 10px;">
        <img width="38px" height="38px" src="./assets/img/whatsapp.png" alt="">
      </a>
      <a href="" style="margin-bottom: 10px;">
        <img width="38px" height="38px" src="./assets/img/linkedin.png" alt="">
      </a>
    </div>
  </div>
  <div class="container" style="height: 20px; background-color: white;"></div>
</div>
