.editor .one p img{
  width: 100% !important;
  height: auto !important;
}
.editor .one p iframe{
  width: 100% !important;
  height: 240px !important;
}
.editor .one p {
  text-align: justify;
}
.editor .one p a{
  color: #9E0051;
  text-decoration: none;
  font-weight: 600;
}
.editor .one h3 {
  color: #9E0051;
  text-align: justify;
}
.editor .one .editor iframe{
  width: 100%;
  height: auto;
  min-height:350px;
}
.editor .one h2 img{
  width: 100% !important;
  height: auto !important;
}
.editor .one span img{
  width: 50% !important;
  height: auto !important;
}
.fa-thumbs-up:before {
  content: "\f164";
  margin-right: 10px;
}
.container-iLike{
  margin: auto;
  padding: 0.5em;
  width: 26%;
}
.btn-ilike{
  width: 100%;
  padding: 9px;
  height: 50px;
  background: #9E0051;
  border: 1px solid #9E0051;
  font-weight: 700;
  font-size: 19px;
}
.btn-ilike:hover{
  background: #c30869;
  border: 1px solid #c30869;
}
@media only screen and (min-width: 800px) {
  .detailsSum{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .detailsSum img{
    vertical-align: baseline;

  }
  .detailsSum span{
    padding-left: 7px ;
  }
  .contact{
    height: 20px; width: 20px;
    position: relative;
    top: 73px;
    right: 4.3vw;
    display: flex;
    flex-direction: column;
  }
  .container-iLike{
    width: 70%;
  }
}
@media only screen and (min-width: 92px) and (max-width: 799px) {
  .container-iLike{
    width: 100%;
  }
  .comentary{
    display: none;
  }
}
@media only screen and (min-width: 1196px) and (max-width: 2000px) {
  .container-iLike{
    width: 45%;
  }
  .contact-media{
    display: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 800px) {
  .detailsSum{
    display: none;
  }
  .detailsSum img{
    vertical-align: baseline;

  }
  .detailsSum span{
    padding-left: 7px ;
  }
  .contact{
    display: none;
  }
  .contact-media{
    display: block;
  }
  .comentary{
    display: none;
  }
  .texto-media{
    color: #6B6568;
    font-size: 21px;
    margin-top: 0.5em;


    display: flex;
    justify-content: center;
  }
  .icons-media{
    display: flex;
    margin-top: 14px;
    justify-content: space-evenly;
  }
  .comentarys{
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  .editor .one p iframe{
    width: 100% !important;
    height: 440px !important;
  }
}
