<div class="container">
  <div class="row">
    <div class="col-6">
      <form (ngSubmit)="guardar( f )" autocomplete="off"
          #f="ngForm">

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nombre :</label>
          <input type="text"
                 class="form-control "
                 id="name"
                 name="name"
                 [class.is-invalid]="nombre.invalid && nombre.touched"
                 aria-describedby="emailHelp"
                 [(ngModel)]="author.name"
                 required
                 #nombre="ngModel">

        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Grado:</label>
          <input type="text" class="form-control" id="degree" name="degree"   [(ngModel)]="author.degree" aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Ultimo Cargo(Actual) :</label>
          <input type="text" id="job_title" name="job_title" class="form-control" id="exampleInputEmail1"    [(ngModel)]="author.job_title" aria-describedby="emailHelp">

        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Url de Imagen :</label>
          <input type="url" class="form-control" id="pathImage" name="pathImage"    [(ngModel)]="author.pathImage" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>

        <button type="submit" class="btn btn-success">Guardar</button>

      </form>
    </div>
  </div>
</div>
