<div class="container">
  <div class="row mt-4 pt-1">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-11">
      <app-all-blogs [blogs]="blogs"></app-all-blogs>

    </div>
  </div>
</div>
