<header class="header-second-nav">
  <div class="form-search">
    <input class="form-control" (keyup.enter)=searchBlog(txtBuscar.value) type="search" placeholder="Buscar Tema..." aria-label="Search" #txtBuscar>
    <button class="btn-search" (click)=searchBlog(txtBuscar.value) type="submit"><i class="fas fa-search" style="font-size: 22px;"></i></button>
  </div>
  <nav class="container-second-nav">
    <ul class="navbar-second-nav">
      <li class="nav-second-text"><a class="nav-second-text">Elige tu área:</a></li>
      <li class="nav-second-item"><a class="nav-second-link" (click)="irNavegacion('calidad')" >Calidad</a></li>
      <li class="nav-second-item"><a class="nav-second-link" (click)="irNavegacion('construccion')" >Construcción</a></li>
      <li class="nav-second-item"><a class="nav-second-link" (click)="irNavegacion('mantenimiento')" >Mantenimiento</a></li>
      <li class="nav-second-item"><a class="nav-second-link" (click)="irNavegacion('logistica')" >Logistica</a></li>
      <li class="nav-second-item"><a class="nav-second-link" (click)="irNavegacion('seguridad')" >Seguridad</a></li>
      <li class="nav-second-item"><a class="nav-second-link" (click)="irNavegacion('mineria')" >Mineria</a></li>
    </ul>
  </nav>
</header>
