@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

*, ::before, *::after{
  box-sizing: border-box;
}
.header-second-nav{
  background: #2E2E2E;
  text-align: center;
  position: relative;
  z-index: 1;
  width: 100%;
}
.form-search{
  padding: 1.1em;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 45px;
}
.form-control{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  padding: 0.7em;
  width: 100%;
  justify-content: center;
  text-align: left;
  height: 44px;
}
.btn-search{
  background-color: #E8CA66;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.container-second-nav{
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: #2E2E2E;
  width: 100%;
  transform:scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
@media screen and (min-width: 1167px) {
  .header-second-nav{
    display: grid;
    grid-template-columns: 10vw 1fr 3fr;
  }
  .form-search{
    display: grid;
    grid-column: 2 / 2;
  }
  .container-second-nav{
    all: unset;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    text-align: center;
  }
  .container-second-nav .nav-second-link{
    opacity: 1;
  }
  .navbar-second-nav{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%) translateY(-50%);
  }
  .container-second-nav .navbar-second-nav{
    display: contents ;
  }
  .nav-second-item{
    display: inline-block;
    margin-left: 0;
  }
  .navbar-second-nav{
    list-style: none;
  }
  .nav-second-item{
    margin: auto;
  }
  .nav-second-text .nav-second-text{
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin: 10px;
  }
  .nav-second-item .nav-second-link{
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin: 10px;
  }
  .nav-second-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background:#E8CA66;
    transition: width .3s;
  }
  .nav-second-link:hover::after{
    width: 100%;
    transition: width .3s;
  }
}
