<div *ngIf="blog!=null">
  <div class="card mb-3 fix" >
    <div style="overflow: hidden;">
      <img  width="100%" (click)="onDetailCat(blog)" src="{{blog.imgPrograma}}" class="card-img-top img-thumbnail " alt="..." style="padding: 0;
    border: none;">
    </div>
    <div class="card-body" style="padding: 1rem 2rem; background:#9E0051;">
      <p class="card-text psubtitle">PROGRAMA ESPECIALIZACIÓN EN</p>
      <p (click)="onDetailCat(blog)" class="card-title ptitle">{{ blog.nombrePrograma }}</p>
      <p class="card-text">{{ blog.descriptionPrograma }}</p>
      <p  (click)="onCategoryBlog(blog)" style="margin-bottom: 0px;">
          <img src="./assets/img/area.png" width="19px" height="11px" alt="" class="me-1"style="margin-bottom: 5px;"
           > Área: {{ blog.categoria }}.</p>
      <p><img src="./assets/img/calendario-2.png" width="14px" height="14px" alt="" class="me-2" style="margin-bottom: 4px;margin-left: 2px;" >Inicio: {{ blog.fechaInicioPrograma | date:'dd/MM/yyyy' }}.</p>
      <div class="d-grid">
        <a class="btn btnPro"  (click)="onDetailCat(blog)" href="{{ blog.linkPrograma }}">Más Información</a>
      </div>
    </div>
  </div>
</div>

