@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

p{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    font-size: 16px;

}
.psubtitle{
    color: #E8CA74;
    font-family: 'Roboto', sans-serif;
    font-weight:500;
    margin-bottom: 0px;
}

.ptitle{
  color: #E8CA74;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 23px;
  line-height: 27px;
  text-transform: uppercase;
}

.btnPro{
  background-color: #F39800;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight:500;
  font-size: 18px;
}
.img-thumbnail{
  transition: all 1s;
}
.img-thumbnail:hover {
  transform: scale(1.15);
}

@media only screen and (min-width: 924px) {
  .fix{
    width: 20rem;
  }
}
