<app-breadcrumbs></app-breadcrumbs>
<div class="" *ngIf="blog">
  <app-baner [blog]="blog"></app-baner>
</div>
<div class="container">
  <div class="row mt-4 pt-1">
    <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-8 col-xxl-9">
      <div *ngIf="blog">
        <app-cuerpo [blog]="blog"></app-cuerpo>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 col-xxl-3 ">
      <div class="">
        <p class="ps-2 ">BLOG RECIENTES</p>
        <div class="card-group" id="onlyMobile">
          <app-card (propagar)="prueba12()" [topBlogs]="topBlogs"></app-card>
        </div>
        <p class="vMas">VER MÁS RECOMENDADOS<i class="fas fa-long-arrow-alt-right" style="margin-left: 12px;font-size: 14px;"></i></p>
        <p class="ps-2">PROGRAMAS RECOMENDADOS</p>
        <div *ngIf="blog">
          <app-card-programa [blog]="blog"></app-card-programa>
        </div>
        <p class="vMas">VER MÁS RECOMENDADOS<i class="fas fa-long-arrow-alt-right" style="margin-left: 12px;font-size: 14px;"></i></p>
        <app-card-sub></app-card-sub>
      </div>
    </div>
  </div>
</div>

