@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

p{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  border-left: 10px;
  border-left-color: #E8CA66;
  border-left-style: solid;
}

.vMas{
  color: #9E0051;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding-left: 119px;
  border-left: 0px;
  margin-bottom: 30px;
}

.row {
  --bs-gutter-x: 4.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x)/ -2);
  margin-left: calc(var(--bs-gutter-x)/ -2);
  }
.container{
  max-width: 1538px;
  background-color: #f0f0f0;
}
@media only screen and (min-width: 320px) and (max-width: 800px) {
  #onlyMobile{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
  .container{
    max-width: 1538px;
    background-color:white;
  }
}
