@media only screen and (min-width: 1024px)  {
  .breadCrumbs{
      display: flex;
      padding: 26px 8vw;
      color: white;
      position: absolute;
      top:379px;
      z-index: 90;
      /* background: rgba(122, 122, 122, 0.4); */
      background: rgba(32,32, 32, 0.6);
      width: 100vw;
  }
  .breadCrumbs i{
      padding: 0 15px 0 5px ;
  }
  .breadCrumbs span{
      font-family: 'Helvetica';
      font-size: 18px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 1224px) {
  .breadCrumbs{
      display: none;
  }
}
