<div class="breadCrumbs" style="padding-left: 11vw;" >
  <div><span style="color: white;">Inicio</span><i class="fas fa-chevron-right"></i></div>
  <div><span style="color: white;">Blog</span><i class="fas fa-chevron-right"></i></div>
  <div><span style="color: white;">Construcción</span><i class="fas fa-chevron-right"></i></div>
  <div><span style="color: white;">$name_blog</span><i class="fas fa-chevron-right"></i></div>
</div>
