<footer class="footer-nav">
  <div class="container-logo">
    <a href="https://ingenium.edu.pe/"><img class="img-ingenium-footer" src="https://ingenium.edu.pe/wp-content/uploads/2021/03/LOGO-BLANCO-2021.png " width="305" height="109"></a>
    <nav class="container-nav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link-title">Acerca de Ingenium</a>
          <ul style="margin-left: -14px;list-style: none;">
            <li class="nav-sub-item"><a href="http://ingenium.edu.pe/nosotros">Nuestra Visión</a></li>
            <li class="nav-sub-item"><a href="http://ingenium.edu.pe/nosotros">Nuestra Misión</a></li>
            <li class="nav-sub-item"><a href="https://ingenium.edu.pe/politica-de-calidad/">Política de Calidad</a></li>
            <li class="nav-sub-item"><a href="https://ingenium.edu.pe/preguntas-frecuentes/">Preguntas Frecuentes</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <nav class="container-nav-sec">
      <ul class="navbar-nav2">
        <li class="nav-item">
          <a class="nav-link-title2">Más</a>
          <ul style="margin-left: -20px;list-style: none;">
            <li class="nav-sub-item2"><a href="https://ingenium.edu.pe/terminos-y-condiciones/">Términos y Condiciones</a></li>
            <li class="nav-sub-item2"><a href="https://ingenium.edu.pe/politica-de-cookies/">Política de Cookies</a></li>
            <li class="nav-sub-item2"><a href="https://ingenium.edu.pe/politica-de-cookies/">Política de Privacidad</a></li>
            <li class="nav-sub-item2"><a href="https://ingenium.edu.pe/mapa-de-sitio/">Mapa de Sitio</a></li>
            <li class="nav-sub-item2"><a href="https://ingenium.edu.pe/libro-mejoras/">Libro de reclamaciones</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <nav class="social-media">
      <div>
        <h4 class="title-socialmedia">Siguenos en nuestras redes sociales</h4>
      </div>
      <div class="social-media-section">
        <ul class="container-social-media">
          <li class="facebook">
            <a href="https://www.facebook.com/IngeniumEFP/"><i class="fab fa-facebook"></i></a>
          </li>
          <li class="linkedin">
            <a href="https://www.linkedin.com/company/ingeniumefp"><i class="fab fa-linkedin"></i></a>
          </li>
          <li class="instagram">
            <a href="https://www.instagram.com/ingeniumefp/"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="youtube">
            <a href="https://www.youtube.com/channel/UCxdlBxi2GXmgk4nuKg3CqSQ"><i class="fab fa-youtube"></i></a>
          </li>
          <li class="facebook">
            <a href="https://twitter.com/IngeniumEFP"><i class="fab fa-twitter"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="footer-information">
    <div class="container-footer-information">
      <p>2019 – Ingenium | Escuela de Formación Profesional<br>
        Todos los derechos reservados</p>
    </div>
  </div>
</footer>
