
*, ::before, *::after{
  box-sizing: border-box;
}
.container-logo{
  background-color: #000;
  opacity: .81;
  transition: background 0.3s,border-radius 0.3s,opacity 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px 20px 20px 20px;
}
.footer-nav{
  background-image: url(https://ingenium.edu.pe/wp-content/uploads/2019/08/556-e1565401252477.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;

}
.img-ingenium-footer{
  padding: 10px;
  height: auto;
  max-width: 100%;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.container-nav{
  display: none;
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background-color: #9E0051;
  width: 100%;
  transform:scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
.container-nav-sec{
  display: none;
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background-color: #9E0051;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
.footer-information{
  background-color:#891E4E;
  width: 100%;
}
.container-footer-information{
  padding: 5px;
  text-align: center;
}
.footer-information p{
  color: #fff;
  font-family: "Helvetica",Sans-serif;
  font-size: 13px;
  margin: 0;
  line-height: 1.5em;
}
.title-socialmedia{
  color: #FFFFFF;
  font-family: "Helvetica",Sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
}
.social-media-section{
  padding: 0;
  margin: 0;
  width: 100%;
}
.container-social-media{
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  grid-column-gap: var(--grid-column-gap,5px);
  grid-row-gap: var(--grid-row-gap,5px);
  grid-template-columns: var(--grid-template-columns);
  -webkit-box-pack: var(--justify-content,center);
  -ms-flex-pack: var(--justify-content,center);
  justify-content: var(--justify-content,center);
  justify-items: var(--justify-content,center);
}
.container-social-media li{
  display: inline-block;
  word-break: break-word;
}
.container-social-media li a{
  background-color: rgba(0,0,0,0);
}
.container-social-media li a i{
  border: 1.5px solid #FFFFFF;
  border-radius: 50%;
  font-size: 22px;
  color: white;
  padding: 5px;
}
.container-social-media li a i:hover{
  background-color: #FFFFFF;
  border: 1.5px solid #e63382;
  color: #e63382;
}
/* bigger laptops */
@media only screen and (min-width: 1106px) {
  .footer-nav{
    display: grid;
    grid-template-columns: 1fr;
  }
  .container-logo{
    display: grid;
    grid-template-columns: 350px 1fr 1fr 1fr;
  }
  .container-nav{
    all: unset;
    text-align: justify;
    margin: auto;
    margin-top: 0;
  }
  .nav-link-title{
    color: white !important;
    text-decoration: none;
    line-height: 2em;
    font-family: "Helvetica", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .navbar-nav{
    list-style: none;
  }
  .nav-sub-item a{
    color: white;
    text-decoration: none;
    line-height: 2em;
    font-family: "Helvetica", Sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
  .social-media{
    margin-top: 5px;
  }
  .nav-sub-item a:hover{
    color: #e63382;
  }
  .container-nav-sec{
    all:unset;
    text-align: justify;
    margin: auto;
  }
  .nav-link-title2{
    color: white;
    text-decoration: none;
    line-height: 2em;
    font-family: "Helvetica", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .navbar-nav2{
    list-style: none;
  }
  .nav-sub-item2 a{
    color: white;
    text-decoration: none;
    line-height: 2em;
    font-family: "Helvetica", Sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
  .nav-sub-item2 a:hover{
    color: #e63382;
  }
  .container-nav .nav-link{
    opacity: 1;
  }
  .container-nav .navbar-nav{
    display: contents ;
  }
  .footer-information{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}
/* Desktops and laptops */
@media only screen and (min-width: 850px) and (max-width: 1024px) { }
/* iPads (portrait and landscape) */
@media only screen and (min-width: 550px) and (max-width: 800px) { }
/* mobiles (landscape and portrait) */
@media only screen and (min-width: 320px) and (max-width: 500px) { }
