<div class="wrapper heightNav" >


  <div class="greyBackground">

  </div>
  <div class="menuResponsive wrapper">
      <div class="closeMenu"></div>
      <div id="calidad" class="navbarResponsive">

      </div>
  </div>
  <nav class="navbar flexRow">

      <div class="containerNavbar flexRow">
          <div class="leftContainer flexRow">

              <div>
                <div class="menuContainer" id="menuToggle">
                  <div class="menuBox">
                      <div class="menuInner"></div>
                  </div>
              </div>
              </div>
              <div class="logoContainer " >

                  <img  id="imgIngenium" src="https://ingenium.edu.pe/wp-content/uploads/2021/03/LOGO-COLOR-2021.png" alt="">
                  <img  id="imgIngenium" src="https://ingenium.edu.pe/wp-content/uploads/2021/03/LOGO-BLANCO-2021.png" alt="">
              </div>
          </div>
          <nav class="menuMobile flexColumn " id="navMobile">


            <div class="menuService">
                <div class="itemMenuContainer one">
                    <div class="headerItemMobile">
                        <a href="#">
                            <div class="itemMenuMobile flexRow">
                                <span class="itemnav">INICIO</span>

                            </div>
                        </a>
                    </div>
                    <div class="contentItemMobile">

                    </div>
                </div>
                <div class="itemMenuContainer two">
                    <div class="headerItemMobile">
                        <a href="#">
                            <div class="itemMenuMobile flexRow">
                                <span class="itemnav">NOSOTROS</span>

                            </div>
                        </a>
                    </div>
                    <div class="contentItemMobile">

                    </div>
                </div>
                <div id="programas" class="itemMenuContainer three">
                    <div class="headerItemMobile">
                        <a >
                            <div class="itemMenuMobile flexRow">
                                <span class="itemnav">PROGRAMAS</span>
                                <i class="fas fa-chevron-down" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                    <div class="contentItemMobile">
                        <div id="over" class="submenuPE subItemMenuMobile ">
                            <div class="subItWrap">
                                <div id="subItm" class="subItHead flexRow">
                                    <span>CALIDAD</span>
                                    <i class="fas fa-chevron-right" aria-hidden="true"></i>
                                </div>
                                <div class="subItCont">
                                    <div>
                                        <a href="https://ingenium.edu.pe/calidad/implementacion-de-la-metodologia-5s/">
                                            <div>
                                                <span>IMPLEMENTACIÓN DE LA METODOLOGÍA 5S</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/calidad/control-estadistico-de-procesos/">
                                            <div>
                                                <span>CONTROL ESTADÍSTICO DE PROCESOS</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/calidad/sistemas-integrados-de-gestion/">
                                            <div>
                                                <span>IMPLEMENTACIÓN Y AUDITORÍA DE SISTEMAS INTEGRADOS DE GESTIÓN</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/calidad/lean-manufacturing/">
                                            <div>
                                                <span>LEAN MANUFACTURING</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/calidad/lean-six-sigma-yellow-belt/">
                                            <div>
                                                <span>LEAN SIX SIGMA YELLOW BELT</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/calidad/lean-six-sigma-green-belt/">
                                            <div>
                                                <span>LEAN SIX SIGMA GREEN BELT</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div id="over" class="submenuPE subItemMenuMobile">
                            <div class="subItWrap">
                                <div id="subItm" class="subItHead flexRow">
                                    <span>CONSTRUCCIÓN</span>
                                    <i class="fas fa-chevron-right" aria-hidden="true"></i>
                                </div>
                                <div class="subItCont" style="top: 38.73px;">
                                    <div>
                                        <a href="https://ingenium.edu.pe/construccion/ingenieria-de-la-construccion/">
                                            <div><span>PAE INGENIERÍA DE LA CONSTRUCCIÓN</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/construccion/diseno-construccion-sustentable/">
                                            <div><span>DISEÑO Y CONTRUCCIÓN SUSTENTABLE</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/construccion/direccion-de-proyectos-bim/">
                                            <div><span>DIRECCIÓN DE PROYECTOS BIM</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/construccion/gerencia-de-la-construccion/">
                                            <div><span>GERENCIA DE LA CONSTRUCCIÓN</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/construccion/proyectos-viales/">
                                            <div><span>GESTIÓN DE PROYECTOS VIALES</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/construccion/gestion-de-la-calidad-en-proyectos-de-construccion/">
                                            <div><span>GESTIÓN DE LA CALIDAD EN PROYECTOS DE CONSTRUCCIÓN</span></div>
                                        </a>
                                    </div>

                                    <div>
                                        <a href="https://ingenium.edu.pe/construccion/gestion-de-la-construccion-con-primavera-p6-y-power-bi/">
                                            <div><span>GESTIÓN DE LA CONSTRUCCIÓN CON PRIMAVERA P6 Y POWER BI</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/construccion/gestion-de-subcontratistas-en-construccion/">
                                            <div><span>GESTIÓN DE SUBCONTRATISTAS EN CONSTRUCCIÓN</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/construccion/last-planner-system/">
                                            <div><span>LAST PLANNER® SYSTEM</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/construccion/lean-construction/">
                                            <div><span>LEAN CONSTRUCTION</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/construccion/planificacion-y-control-de-proyectos-de-construccion/">
                                            <div><span>PLANIFICACIÓN Y CONTROL DE PROYECTOS DE CONSTRUCCIÓN</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/construccion/supervision-y-residencia-de-obras/">
                                            <div><span>SUPERVISIÓN Y RESIDENCIA DE OBRAS</span></div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="over" class="submenuPE subItemMenuMobile">
                            <div class="subItWrap">
                                <div id="subItm" class="subItHead flexRow">
                                    <span>MANTENIMIENTO</span>
                                    <i class="fas fa-chevron-right" aria-hidden="true"></i>
                                </div>
                                <div class="subItCont" style="top: 77.46px;">
                                    <div>
                                        <a href="https://ingenium.edu.pe/mantenimiento/ingenieria-electrica-industrial/">
                                            <div><span>PAE INGENIERÍA ELÉCTRICA INDUSTRIAL</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/mantenimiento/ingenieria-del-mantenimiento/">
                                            <div><span>PAE INGENIERÍA DEL MANTENIMIENTO</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/mantenimiento/analisis-causa-raiz-aplicado-a-mantenimiento-acr/">
                                            <div><span>ANÁLISIS CAUSA RAÍZ APLICADO A MANTENIMIENTO – ACR</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/mantenimiento/ciencia-de-datos-aplicada-al-mantenimiento-predictivo/">
                                            <div><span>CIENCIA DE DATOS APLICADA AL MANTENIMIENTO PREDICTIVO</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/mantenimiento/gestion-de-costos-y-presupuestos-de-mantenimiento-de-activos/">
                                            <div><span>COSTOS Y PRESUPUESTOS DE MANTENIMIENTO DE ACTIVOS</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/mantenimiento/gestion-de-activos-iso-55001/">
                                            <div><span>GESTIÓN DE ACTIVOS</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/mantenimiento/gestion-de-paradas-de-planta/">
                                            <div><span>GESTIÓN DE PARADAS DE PLANTA</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/mantenimiento/lubricacion-y-analisis-de-aceites-para-mantenimiento/">
                                            <div><span>LUBRICACIÓN Y ANÁLISIS DE ACEITES PARA MANTENIMIENTO</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/mantenimiento/mantenimiento-electromecanico-de-maquinaria-y-equipos/">
                                            <div><span>MANTENIMIENTO ELECTROMECÁNICO DE MAQUINARIA Y EQUIPOS</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/mantenimiento/gestion-del-mantenimiento-de-maquinaria-pesada/">
                                            <div><span>GESTIÓN DEL MANTENIMIENTO DE MAQUINARIA PESADA</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/mantenimiento/gestion-del-mantenimiento-electrico-industrial/">
                                            <div><span>GESTIÓN DEL MANTENIMIENTO ELÉCTRICO INDUSTRIAL</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/mantenimiento/gestion-estrategica-del-mantenimiento/">
                                            <div><span>GESTIÓN ESTRATÉGICA DEL MANTENIMIENTO</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/mantenimiento/mantenimiento-y-confiabilidad/">
                                            <div><span>MANTENIMIENTO Y CONFIABILIDAD</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/mantenimiento/mantenimiento-de-plantas-concentradoras/">
                                            <div><span>MANTENIMIENTO DE PLANTAS CONCENTRADORAS</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/mantenimiento/mantenimiento-centrado-en-confiabilidad-rcm/">
                                            <div><span>MANTENIMIENTO CENTRADO EN CONFIABILIDAD – RCM</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/mantenimiento/mantenimiento-productivo-total-tpm/">
                                            <div><span>MANTENIMIENTO PRODUCTIVO TOTAL – TPM</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/mantenimiento/planificacion-programacion-y-control-del-mantenimiento/">
                                            <div><span>PLANIFICACIÓN, PROGRAMACIÓN Y CONTROL DEL MANTENIMIENTO</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/mantenimiento/sistemas-de-indicadores-para-gestion-del-mantenimiento/">
                                            <div><span>SISTEMAS DE INDICADORES (KPI) PARA LA GESTIÓN DEL MANTENIMIENTO</span></div>
                                        </a>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div id="over" class="submenuPE subItemMenuMobile">
                            <div class="subItWrap">
                                <div id="subItm" class="subItHead flexRow">
                                    <span>MANAGEMENT</span>
                                    <i class="fas fa-chevron-right" aria-hidden="true"></i>
                                </div>
                                <div class="subItCont" style="top: 116.19px;">
                                    <div>
                                        <a href="https://ingenium.edu.pe/management/finanzas-con-business-intelligence-y-analytics/">
                                            <div><span>FINANZAS CON BUSINESS INTELLIGENCE Y ANALYTICS</span></div>
                                        </a>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div id="over" class="submenuPE subItemMenuMobile">
                            <div class="subItWrap">
                                <div id="subItm" class="subItHead flexRow">
                                    <span>MINERÍA</span>
                                    <i class="fas fa-chevron-right" aria-hidden="true"></i>
                                </div>
                                <div class="subItCont" style="top: 154.92px;">
                                    <div>
                                        <a href="https://ingenium.edu.pe/mineria/extraccion-y-procesamiento-de-minerales/">
                                            <div><span>EXTRACCIÓN Y PROCESAMIENTO DE MINERALES</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/mineria/gestion-de-relaciones-comunitarias/">
                                            <div><span>GESTIÓN DE RELACIONES COMUNITARIAS</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/mineria/gestion-de-finanzas-en-mineria/">
                                            <div><span>GESTIÓN DE FINANZAS EN MINERÍA</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/mineria/perforacion-y-voladura-de-rocas/">
                                            <div><span>PERFORACIÓN Y VOLADURA DE ROCAS</span></div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="over" class="submenuPE subItemMenuMobile">
                            <div class="subItWrap">
                                <div id="subItm" class="subItHead flexRow">
                                    <span>OPERACIONES Y LOGÍSTICA</span>
                                    <i class="fas fa-chevron-right" aria-hidden="true"></i>
                                </div>
                                <div class="subItCont" style="top: 193.65px;">
                                    <div>
                                        <a href="https://ingenium.edu.pe/logistica/gestion-de-la-produccion/">
                                            <div><span>GESTIÓN DE LA PRODUCCIÓN</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/logistica/gestion-del-transporte-de-carga/">
                                            <div><span>GESTIÓN DEL TRANSPORTE DE CARGA</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/logistica/gestion-de-operaciones-y-almacenes/">
                                            <div><span>GESTIÓN DE OPERACIONES Y ALMACENES</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/logistica/supply-chain-management/">
                                            <div><span>SUPPLY CHAIN MANAGEMENT</span></div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="over" class="submenuPE subItemMenuMobile">
                            <div class="subItWrap">
                                <div id="subItm" class="subItHead flexRow">
                                    <span>SEGURIDAD</span>
                                    <i class="fas fa-chevron-right" aria-hidden="true"></i>
                                </div>
                                <div class="subItCont" style="top: 232.38px;">
                                    <div>
                                        <a href="https://ingenium.edu.pe/seguridad/gestion-de-seguridad-minera/">
                                            <div><span>GESTIÓN DE SEGURIDAD MINERA</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/seguridad/implementacion-y-auditoria-iso-450012018/">
                                            <div><span>IMPLEMENTACIÓN Y AUDITORÍA ISO 45001:2018</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/construccion/seguridad-y-salud-en-construccion/">
                                            <div><span>SEGURIDAD Y SALUD EN EL TRABAJO EN CONSTRUCCIÓN</span></div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="https://ingenium.edu.pe/seguridad/seguridad-basada-en-el-comportamiento/">
                                            <div><span>SEGURIDAD BASADA EN EL COMPORTAMIENTO</span></div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="itemMenuContainer four">
                    <div class="headerItemMobile">
                        <a href="#">
                            <div class="itemMenuMobile flexRow">
                                <span class="itemnav">SERVICIOS</span>
                            </div>
                        </a>
                    </div>
                    <div class="contentItemMobile">

                    </div>
                </div>
                <div class="itemMenuContainer five">
                    <div class="headerItemMobile">
                        <a href="#">
                            <div class="itemMenuMobile flexRow">
                                <span class="itemnav">BLOG</span>
                            </div>
                        </a>
                    </div>
                    <div class="contentItemMobile">
                        <!--
                        <div class="submenuPE subItemMenuMobile flexRow">
                        </div>
                        -->
                    </div>
                </div>
                <div class="itemMenuContainer six">
                    <div class="headerItemMobile">
                        <a href="#">
                            <div class="itemMenuMobile flexRow">
                                <span class="itemnav">AULA VIRTUAL</span>
                            </div>
                        </a>
                    </div>
                    <div class="contentItemMobile">

                    </div>
                </div>
                <div class="itemMenuContainer seven">
                    <div class="headerItemMobile">
                        <a href="#">
                            <div class="itemMenuMobile flexRow">
                                <span class="itemnav">CONTACTO</span>
                            </div>
                        </a>
                    </div>
                    <div class="contentItemMobile">
                    </div>
                </div>

            </div>
          </nav>
          <div class="nameBlog" style="grid-area:2/1/3/3 ;padding-left: 3vw;">
            <h1 style="text-align: center;">BLOG</h1>
            <div class="" >
                <h4 class="" style="text-align: center; color: white; font-size: 20px; font-family: 'Helvetica';">Artículos de interés, noticias, recursos, recomendaciones y todo lo que necesitas para mantenerte actualizado en tu profesión.</h4>
            </div>
          </div>

      </div>
  </nav>
</div>
