@media only screen and (min-width: 1024px)  {
  #programas:hover .contentItemMobile{
    position: absolute;
    top: 100px;
    z-index: 99;
    width: 52%;
    height: 800px;

  }
  #programas:hover .contentItemMobile div#subItm{
    display: flex;
    justify-content: space-between;
    color: white;
  }
  #over:hover #subItm+.subItCont{
    height: auto;
    position: absolute;
    top: 0px;
    left: 208px;
    z-index: 100;
  }
  #over:hover #subItm+.subItCont.subItCont div a div{
    padding: 10px 7px 10px 21px;
    background:  rgb(122,122,122);;
    position: relative;
    z-index: 100;
    border-bottom: #000 .5px solid ;
    border-left: #000 .5px solid ;
    color: white;
    transition: background-color .4s;
  }
  #subItm:hover+.subItCont.subItCont div a span{
    color: white;
  }
  .subItCont{
    height: 0;
    overflow: hidden;
  }

  a{
    text-decoration: none;
  }
  .logoContainer img{
    width: 60%;
  }
  .greyBackground{
    display: none;
  }
  .menuResponsive.wrapper{
    background-color: red;
    position: absolute;
    top: 0;
    z-index: 100;
    height: 0;
    overflow: hidden;
  }
  .containerNavbar.flexRow{
    display: grid !important;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
  }

  .logoContainer{
    display: flex;
    justify-content: center;
  }
  .logoContainer>img:nth-child(1){
    display: none;
  }
  .leftContainer{
    grid-area: 1/1/2/2;
  }
  .menuMobile{
    grid-area: 1/2/2/3;
  }
  .menuService{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: auto;
    height: 100%;
  }
  .one{
    grid-area: 1/1/2/2;
  }
  .two{
    grid-area: 1/2/2/3;
  }
  .three{
    grid-area: 1/3/2/4;
  }

  .four{
    grid-area: 1/4/2/5;
  }
  .five{
    grid-area: 1/5/2/6;
  }
  .six{
    grid-area: 1/6/2/7;
  }
  .seven{
    grid-area: 1/7/2/8;
  }
  .itemMenuMobile{
    display: flex;
    justify-content: center;
  }
  .menuService .itemMenuContainer:nth-child(3) a span{
    display: inline;
  }

  .menuService .itemMenuContainer:nth-child(3) a .itemMenuMobile {
    justify-content: space-evenly;
    align-items: center;
  }
  .headerItemMobile>a{
    color: white;
    font-family: 'Helvetica';
    font-weight: 600;
    font-size: 13px;
  }
  nav.navbar.flexRow{
    background-image: url(../../../assets/img/portada.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding-right: 3vw;
  }
  .menuService .itemMenuContainer:nth-child(3)>.contentItemMobile{
    height: 0;
    overflow: hidden;
  }
  .nameBlog{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nameBlog>h1{
    color: #e8e8e8;
    font-family: 'Helvetica',Sans-serif;
    font-size: 60px;
    text-shadow:-6px 6px 28px rgb(0 0 0 / 72%);
    font-weight: 600;
  }
  .menuService .itemMenuContainer:nth-child(3)>.contentItemMobile.showOptions{
    height: auto;
    color: white;
    position: absolute;
    top: 100px;
    background: rgb(122,122,122);
    z-index: 99;

  }
  .subItWrap {
    width: 208px;
    padding: 10px 7px 10px 14px;
    background-color: rgb(122,122,122);
    border-bottom: #000 .5px solid ;
    transition: background-color 0.4s;
  }
  .subItWrap:hover {
    background-color:#3C3C3B;
    color: white;
  }
  .subItCont div:hover{
    background-color:#3C3C3B;
    color: white;
  }
  .subItemMenuMobile{
    font-family: 'Helvetica';
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }
  .subItHead.flexRow i::before{
    transform: rotate(90deg);
  }
  .flexRow .itemnav::after{
    content: '';
    display: block;
    width: 0;
    height: 2.5px;
    background:#E63382;
    transition: width .4s;
  }
  .flexRow .itemnav:hover::after{
    width: 100%;
    transition: width .4s;
  }
  #over:hover #subItm+.subItCont div a div:hover{
    background-color:#3C3C3B;
  }
  #programas>.headerItemMobile{
    min-width: 208px;
  }
}

@media only screen and (min-width: 722px) and (max-width: 1024px) {
  .contentItemMobile{
    display: none;
  }
  a{
    text-decoration: none;
  }
  .logoContainer img{
    width: 35%;
  }
  .greyBackground{
    display: none;
  }
  .containerNavbar.flexRow{
    display: grid !important;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
  }
  .leftContainer{
    grid-area: 1/1/2/2;
  }
  .menuMobile{
    grid-area: 1/2/2/3;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: auto;
  }
  .logoContainer{
    display: flex;
    justify-content: center;
  }
  .subItWrap:hover {
    background-color:#3C3C3B;
    color: white;
  }

}

@media only screen and (min-width: 320px) and (max-width: 800px) {
*{
  box-sizing: border-box;
}
 a{
  text-decoration: none;
}
.wrapper.heightNav{
  height: 101.88px;
}
.flexRow{
  display: flex;
  flex-direction:row ;
}
.flexColumn{
  display: flex;
  flex-direction: column;
}
.navbar{
  width: 100vw;
  height: 100%;
}

.logoContainer>img:nth-child(2){
  display: none;
}
.containerNavbar{
  width: 100%;
  height: 64px;
  justify-content: space-between ;
  align-items: center;
  flex-wrap: wrap;
}
.menuContainer{
  padding-left:  6.75px;
  padding-right: 6.75px;
  padding-top: clamp(8.5px,8.5px,8.5px);
  padding-bottom: clamp(8.5px,8.5px,8.5px);
  background:#9B004C ;
  border-radius: 7px;
  position: relative;
  top: -10px;

}

.menuBox{
  width: 27px;
  height: 24px;

}
.menuInner{
  position: relative;
  width: 27px;
  height: 4px;
  border-radius: 4px;
  background-color: white;
  transition: background-color 0s .13s linear;
}
.menuInner::before{
  content: "";
  background-color: white;
  width: 27px;
  height: 4px;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  transition: top .12s cubic-bezier(.33333,.66667,.66667,1),
              transform .1s cubic-bezier(.55,.055,.675,.19);

}
.menuInner::after{
  content: "";
  background-color: white;
  width: 27px;
  height: 4px;
  border-radius: 4px;
  position: absolute;
  top: 20px;
  transition: top .12s cubic-bezier(.33333,.66667,.66667,1),
              transform .1s cubic-bezier(.55,.055,.675,.19);

}
.leftContainer{
  padding: 0px 15px;
  align-items: center;
  margin-bottom: 10px;
}

.menuMobile{
  overflow: hidden;
  position: relative;
  z-index: 99;
  top: 2vw;
  width: 100vw;
  height: 0;
  background-color: rgb(122,122,122);
  transition: height .3s linear;
}

.headerItemMobile.stretchMenu+.contentItemMobile{
  max-height: 1800px;
}

.logoContainer img{
  width: 52%;
  min-width: 185px;
}
.logoContainer{
  display: flex;
  justify-content: center;

}

.isActive .menuInner{
  background-color: transparent;
}
.isActive .menuInner::before{
  transform: translate3d(0,10px,0) rotate(45deg);
  top: 0;

}
.isActive .menuInner::after{
  transform: translate3d(0,10px,0) rotate(-45deg);
  top: 0;
}
.contentItemMobile {
  background-color: rgb(122,122,122);
  width: 100vw;
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s linear;
}
.itemMenuMobile i{
  font-size: 12px;
}
.itemMenuMobile{

  align-items: center;
  padding: 15px 7px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Helvetica';
  height: 51px;
  color: white;
  justify-content: space-between;
  border-bottom: #000 .5px solid ;

}

.subItemMenuMobile{
  justify-content: space-between;
}
.nameBlog{
  display: none;
}
.subItHead {
  justify-content: space-between;
  align-items: center;
}

.subItCont a>div,.subItHead {

  color: white;
  font-size: 15px;
  font-family: 'Helvetica';
  border-bottom: #000 .5px solid ;
}
.subItHead{
  padding: 15px 7px 15px 14px;
}
.subItCont a>div{
  padding: 15px 7px 15px 21px;
}
.subItCont{
  max-height: 0;
  overflow: hidden;

}
.stretchMenu{
  height: auto;
}
.subItHead.flexRow.stretchMenu+.subItCont{
  max-height: 1800px;
}
.subItHead.flexRow.stretchMenu{
  background-color: rgba(17, 17, 17, 0.3);
}

}

@media only screen and (min-width: 450px) and (max-width: 800px) {
  .wrapper.heightNav{
    height: 25vw;
  }
  .leftContainer{
    padding-bottom: 4vw;
  }
  .logoContainer img{
    width: 35%;
    min-width: 185px;
    /* margin-left: 42px; */
  }
}

@media only screen and (min-width: 801px) and (max-width: 1023px) {
  *{
    box-sizing: border-box;
  }
   a{
    text-decoration: none;
  }
  .wrapper.heightNav{
    height: 101.88px;
  }
  .flexRow{
    display: flex;
    flex-direction:row ;
  }
  .flexColumn{
    display: flex;
    flex-direction: column;
  }
  .navbar{
    width: 100vw;
    height: 100%;
  }

  .logoContainer>img:nth-child(2){
    display: none;
  }
  .containerNavbar{
    width: 100%;
    height: 64px;
    justify-content: space-between ;
    align-items: center;
    flex-wrap: wrap;
  }
  .menuContainer{
    padding-left:  6.75px;
    padding-right: 6.75px;
    padding-top: clamp(8.5px,8.5px,8.5px);
    padding-bottom: clamp(8.5px,8.5px,8.5px);
    background:#9B004C ;
    border-radius: 7px;
    position: relative;
    top: -10px;
  }
  .menuBox{
    width: 27px;
    height: 24px;
  }
  .menuInner{
    position: relative;
    width: 27px;
    height: 4px;
    border-radius: 4px;
    background-color: white;
    transition: background-color 0s .13s linear;
  }
  .menuInner::before{
    content: "";
    background-color: white;
    width: 27px;
    height: 4px;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    transition: top .12s cubic-bezier(.33333,.66667,.66667,1),
                transform .1s cubic-bezier(.55,.055,.675,.19);

  }
  .menuInner::after{
    content: "";
    background-color: white;
    width: 27px;
    height: 4px;
    border-radius: 4px;
    position: absolute;
    top: 20px;

    transition: top .12s cubic-bezier(.33333,.66667,.66667,1),
                transform .1s cubic-bezier(.55,.055,.675,.19);

  }
  .leftContainer{
    padding: 0px 15px;
    align-items: center;
    margin-bottom: 10px;
  }
  .menuMobile{
    overflow: hidden;
    position: relative;
    z-index: 99;
    top: 2vw;
    width: 100vw;
    height: 0;
    background-color: rgb(122,122,122);
    transition: height .3s linear;
  }

  .headerItemMobile.stretchMenu+.contentItemMobile{
    max-height: 1800px;
  }

  .logoContainer img{
    width: 52%;
    min-width: 185px;
  }
  .logoContainer{
    display: flex;
    justify-content: center;

  }
  .isActive .menuInner{
    background-color: transparent;
  }
  .isActive .menuInner::before{
    transform: translate3d(0,10px,0) rotate(45deg);
    top: 0;

  }
  .isActive .menuInner::after{
    transform: translate3d(0,10px,0) rotate(-45deg);
    top: 0;
  }
  .contentItemMobile {
    background-color: rgb(122,122,122);
    width: 100vw;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s linear;
  }
  .itemMenuMobile i{
    font-size: 12px;
  }
  .itemMenuMobile{

    align-items: center;
    padding: 15px 7px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Helvetica';
    height: 51px;
    color: white;
    justify-content: space-between;
    border-bottom: #000 .5px solid ;

  }
  .subItemMenuMobile{

    justify-content: space-between;
  }
  .nameBlog{
    display: none;
  }
  .subItHead {
    justify-content: space-between;
    align-items: center;
  }

  .subItCont a>div,.subItHead {

    color: white;
    font-size: 15px;
    font-family: 'Helvetica';
    border-bottom: #000 .5px solid ;
  }
  .subItHead{
    padding: 15px 7px 15px 14px;
  }
  .subItCont a>div{
    padding: 15px 7px 15px 21px;
  }
  .subItCont{
    max-height: 0;
    overflow: hidden;

  }
  .stretchMenu{
    height: auto;
  }
  .subItHead.flexRow.stretchMenu+.subItCont{
    max-height: 1800px;
  }
  .subItHead.flexRow.stretchMenu{
    background-color: rgba(17, 17, 17, 0.3);
  }
}
@media only screen and (min-width: 52px) and (max-width: 319px) {
  .navbar .flexRow{
    display: none;
  }
}
